<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Home Page</title>
    
</head>
<body>
    {% extends "base.html" %}

    <!-- Replacement for Title -->
    {% block title %}
    Home Page
    {% endblock %}
    
    <!-- Replacement for Content -->
    {% block content %}
    <h1>Home Page</h1>
    <p>Welcome to the Jinja2 Demo.</p>
    {% endblock %}
</body>
</html>